:root {
  --background: 0.978 0.01 261.789;
  --foreground: 0.25 0.058 259.866;
  --card: 1 0 89.876;
  --card-foreground: 0.25 0.058 259.866;
  --popover: 1 0 89.876;
  --popover-foreground: 0.25 0.058 259.866;
  --primary: 0.456 0.146 258.967;
  --primary-foreground: 1 0 0;
  --secondary: 0.882 0.188 119.948;
  --secondary-foreground: 0.25 0.058 259.866;
  --muted: 0.912 0.028 258.366;
  --muted-foreground: 0.525 0.047 260.803;
  --accent: 0.684 0.14 232.332;
  --accent-foreground: 0.208 0.04 265.755;
  --destructive: 0.637 0.176 23.545;
  --destructive-foreground: 1 0 0;
  --border: 0.912 0.028 258.366;
  --input: 0.962 0.013 255.505;
  --ring: 0.456 0.146 258.967;
  --radius: 0.5rem;
}

.dark {
  --background: 0.25 0.058 259.866;
  --foreground: 0.946 0.017 256.281;
  --card: 0.316 0.047 260.838;
  --card-foreground: 0.946 0.017 256.281;
  --popover: 0.316 0.047 260.838;
  --popover-foreground: 0.946 0.017 256.281;
  --primary: 0.684 0.14 232.332;
  --primary-foreground: 0.208 0.04 265.755;
  --secondary: 0.456 0.146 258.967;
  --secondary-foreground: 0.946 0.017 256.281;
  --muted: 0.372 0.039 257.287;
  --muted-foreground: 0.711 0.035 256.788;
  --accent: 0.882 0.188 119.948;
  --accent-foreground: 0.208 0.04 265.755;
  --destructive: 0.637 0.176 23.545;
  --destructive-foreground: 1 0 0;
  --border: 0.446 0.037 257.281;
  --input: 0.372 0.039 257.287;
  --ring: 0.684 0.14 232.332;
}

body {
  background-color: oklch(var(--background));
  color: oklch(var(--foreground));
}
